<!DOCTYPE html>
<html lang="pt-br">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="javascript/calc_vigas/P-01.js"></script>
  
    <script>
    
    </script>
    
    <style>
        table, th, td {
            border: 1px solid black;
        }
        h3
{
  border:1px solid black;
}
        </style>
  
  
  </head>
<body  >
    

  
    <div class="container">
    
        
  
<div class="thumbnail01">
              <img src="imagens\P-01.bmp" style="width:90%" class="center-block img-responsive img-rounded">
              
            </div>

            
<br>
                  


<br>
<div class="container">
  <h2>Resultado</h2>
  <br>
  <br>
  
  <table class="table table-bordered">
    <thead>
      
    </thead>
    <tbody>
      <tr>
        <td>A..:</td>
        
      </tr>
      <tr>
        <td>B..:</td>
        
      </tr>
      <tr>
        <td>C..:</td>
        
      </tr>
      <tr>
        <td>Raio da Dobra..:</td>
        
      </tr>
      <tr>
            <td>Espesssura..:</td>
            
          </tr>
          <tr>
                <td>Largura da Fita..:</td>
                
              </tr>
              <tr>
                    <td>Comprimento da Fita..:</td>
                    
                  </tr>
                  <tr>
                    <td>Vão..:</td>
                    
                  </tr>
                  <tr>
                    <td>Peso Bruto..:</td>
                    
                  </tr>
                  <tr>
                    <td>Peso Liquido..:</td>
                    
                  </tr>
                  <tr>
                    <td>Ix..:</td>
                    
                  </tr>
                  <tr>
                    <td>Wx..:</td>
                    
                  </tr>
                  <tr>
                    <td>Tensão de Escoamento..:</td>
                    
                  </tr>
                  <tr>
                    <td>Flexa Máxima..:</td>
                    
                  </tr>
                  <tr>
                    <td>Capacidade de Carga..:</td>
                    
                  </tr>
                  <tr>
                    <td>Área Total..:</td>
                    
                  </tr>
                  <tr>
                    <td>Area Util..:</td>
                    
                  </tr>
                  <tr>
                    <td>Capacidade Carga Pontual..:</td>
                    
                  </tr>
                  <tr>
                    <td>Capacidade de Carga Concentrada..:</td>
                    
                  </tr>
    </tbody>
  </table>
</div>







</body>
</html>