<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="estilo.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  <script src="jquery/jquery.min.js"></script> 
  <script src="javascript/menu_principal/menu_principal_02_2.js"></script>


</head>

<body style="overflow-y: hidden; overflow-x: hidden;">
  <nav class="navbar navbar-inverse">
    
    <div class="container">
      <div class="navbar-header">
        
      </div>
      <ul class="nav navbar-nav">
              
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfis<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Perfis Normais</a></li>
            <li><a href="/perfis_perfurados">Perfis Perfurados</a></li>
            
          </ul>
        </li>
        <li><a href="barras_comprimidas">Barras Comprimidas</a></li>
              <li><a href="calc_vigas">Cálculo de Vigas</a></li>
              <li><a href="menu_prateleiras">Prateleiras</a></li>
              <li><a href="menu_prateleiras_portapallets_conj">Pratelerias Porta-Pallets (Conjunto)</a></li>
              <li><a href="prateleiras_ind">Pratelerias Porta-Pallets</a></li>
              <li><a href="menu_pisos">Pisos</a></li>
              <li><a href="entrada_laterais">Laterias Novas</a></li>
      </ul>
      
  </nav>
  
  
    
   
    
  <fieldset>
    <legend><center></center></legend>
    <br><br>

      <div class="container">
          <div class="well">
<br>
<br>
          <form>
              <label class="radio-inline">
                <input type="radio" name="optradio">Geral
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio">Simples
              </label>
              
            </form> 
          
<br>
<br>

<table class="table table-bordered">
<thead>
<tr>
<th>Código</th>
<th>Descrição</th>
<th>Quant.</th>
<th>Comp.</th>
<th>Largura</th>
<th>Chapa</th>
<th>Peso</th>
<th>Valor</th>
</tr>
</thead>
<tbody>
<tr>
<td>PPL000014N0</td>
<td>LATERAL NOVO NORMAL CHAPA 14</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td>PPLC000014N0</td>
<td>COLUNA NOVA NORMAL CHAPA 14</td>
<td>2</td>
<td>0</td>
<td>80</td>
<td>2</td>
<td>0</td>
<td>1.94</td>
</tr>
<tr>
<td>PPLC0SSCJN0 </td>
<td>SAPATA SIMPLES NOVA COM PARAF. E C</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>5.52</td>
</tr>
<tr>
<td>PPLTR00CJ14</td>
<td>TRAVESSA NOVA P PALLETE C PARAF. </td>
<td>0</td>
<td>-90</td>
<td>37</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>


</tbody>
</table>

  

<br>


<form>
  <h4>Tipo de Sapata</h4>
    <label class="radio-inline">
      <input type="radio" name="optradio" readonly="true">Normal
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio" readonly="true">Junção
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio" readonly="true">Base
      </label>
  </form> 

<br>
  
      <form action="/action_page.php">
        <div class="form-group col-xs-6">
          <label>Carga por Lateral</label>
          <input type="email" class="form-control" id="email" placeholder="KG / mm2" name="email" readonly="true">
        </div>
        <div class="form-group col-xs-6">
          <label>Profundidade</label>
          <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd" readonly="true">
        </div>
        
       
      </form>
      <form action="/action_page.php">
        <div class="form-group col-xs-6">
          <label>Quantidade</label>
          <input type="email" class="form-control" id="email" placeholder="0,00" name="email" readonly="true">
        </div>
        <div class="form-group col-xs-6">
          <label>Altura</label>
          <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd" readonly="true">
        </div>
       
      </form>
      <form action="/action_page.php">
        <div class="form-group col-xs-6">
          <label>Quantidade de Travessas</label>
          <input type="email" class="form-control" id="email" placeholder="0,00" name="email" readonly="true">
        </div>
        <form action="/action_page.php">
        <div class="form-group col-xs-6">
          <label></label>
          
        </div>
       
      </form>
      <br>
      <br>
     <p align="right"> <button type="button" class="btn btn-success" style="width: 100px">Calcular</button>
      <a href="entrada_lateraispdf"><button type="button" class="btn btn-imprimir" style="width: 100px">
                        <span class="glyphicon glyphicon-print" align="right"></span>Imprimir</button></a>
      <br>
      <br>
      <button type="button" class="btn btn-danger" style="width: 100px">Voltar</button>
      <button type="button" class="btn btn-primary"  style="width: 100px">Cancelar</button>
     </p> 
    </div>
    </div>










        



      <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

        </body>
      </html>