<!DOCTYPE html>
<html lang="pt-br">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="estilo.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  <script src="jquery/jquery.min.js"></script> 
  <script src="javascript/menu_principal/menu_principal_01_1.js"></script>
    
    
    <style>
        table, th, td {
            border: 1px solid black;
        }
        h3
{
  border:1px solid black;
}
        </style>
  
  
  </head>
<body  >
    

  
    <div class="container">
    
        
  
<div class="thumbnail01">
              <img src="imagens\menu_principal_01.bmp" style="width:90%" class="center-block img-responsive img-rounded">
              
            </div>

            
<br>
                  
<p id="raio_neutro"></p>

<table style="width:100%">
  <tr>
    <th>Dimensões do Perfil</th>
    <th>Propriedades Geométricas da Seção Tranversal</th> 
    
  </tr>
  <tr01>
    <td01>A..:</td>
    <td>Ix..:</td>
    
  </tr>
  <tr>
    <td name="raio_neutro">B..:</td>
    <td id="td04">Iy..:</td>
    
  </tr>
  <tr >
    <td id="td05">C..:</td>
    <td id="td06">Iz..:</td>
    
  </tr>
  <tr>
    <td id="td07">D..:</td>
    <td id="td08">Iv..:</td>
    
  </tr>
  <tr>
    <td id="td09">E..:</td>
    <td id="td10">Ip..:</td>
    
  </tr>
   <tr>
    <td id="td11">a..:</td>
    <td id="td12">Ixy..:</td>
    
  </tr> 
<tr>
    <td id="td13">b..:</td>
    <td id="td14"></td>
    
  </tr> 
  <tr>
    <td id="td15">c..:</td>
    <td>Wx..:</td>
    
  </tr> 
  <tr>
    <td>d..:</td>
    <td>Wy..:</td>
    
  </tr>
  <tr>
    <td>e..:</td>
    <td>Wz..:</td>
    
  </tr> 
  <tr>
    <td>a/..:</td>
    <td>Wv..:</td>
    
  </tr> 
  <tr>
    <td>b/..:</td>
    <td>Wt..:</td>
    
  </tr> 
  <tr>
    <td>c/..:</td>
    <td></td>
    
  </tr> 
  <tr>
    <td>d/..:</td>
    <td>ix..:</td>
    
  </tr> 
  <tr>
    <td>e/..:</td>
    <td>iy..:</td>
    
  </tr> 
  <tr>
    <td>u..:</td>
    <td>iz..:</td>
    
  </tr> 
  <tr>
    <td>u2..:</td>
    <td>iv..:</td>
    
  </tr> 
  <tr>
    <td>u3..:</td>
    <td>X0..:</td>
    
  </tr> 
  <tr>
    <td>m..:</td>
    <td>J..:</td>
    
  </tr> 
  <tr>
    <td>Y0..:</td>
    <td>j..:</td>
    
  </tr> 
  <tr>
    <td>x / y..:</td>
    <td>CGx..:</td>
    
  </tr> 
  <tr>
    <td>z / v..:</td>
    <td>CGy..:</td>
    
  </tr> 
  <tr>
    <td>PESO..:</td>
    <td>Cw..:</td>
    
  </tr> 
  <tr>
    <td>Distância SC-CG..:</td>
    <td></td>
    
  </tr> 
  <tr>
    <td>ESPESSURA (t)..:</td>
    <td>alpha..:</td>
    
  </tr> 
  <tr>
    <td>RAIO DE DOBRA..:</td>
    <td>teta..:</td>
    
  </tr> 
  <tr>
    <td>RAIO NEUTRO..:</td>
    <td></td>
    
  </tr> 
  <tr>
    <td>ALTURA DOBRA..:</td>
    <td>ÁREA TOTAL..:</td>
    
  </tr> 
  <tr>
    <td>LARGURA DA FITA..:</td>
    <td>ÁREA ÚTIL..:</td>
    
  </tr> 
  
</table>
</div>
<br>

<button type="button" onclick="validar();soma();" class="btn btn-success" style="width: 100px;  ;" >Calcular</button>




</body>
</html>