<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
  </head>
  
  
  
      
  <body >

      
    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="#">
          <img src="imagens/altamira.jpg" alt="logo" style="width:190px;">
        </a>
      <div class="container">
        <div class="navbar-header">
          
        </div>
        <ul class="nav navbar-nav">
              
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfis<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">Perfis Normais</a></li>
              <li><a href="/perfis_perfurados">Perfis Perfurados</a></li>
              
            </ul>
          </li>
          <li><a href="barras_comprimidas">Barras Comprimidas</a></li>
                <li><a href="calc_vigas">Cálculo de Vigas</a></li>
                <li><a href="menu_prateleiras">Prateleiras</a></li>
                <li><a href="menu_prateleiras_portapallets_conj">Pratelerias Porta-Pallets (Conjunto)</a></li>
                <li><a href="prateleiras_ind">Pratelerias Porta-Pallets (Individual)</a></li>
                <li><a href="menu_pisos">Pisos</a></li>
                <li><a href="entrada_laterais">Laterias Novas</a></li>
        </ul>
        
    </nav>
    

      
     
      
     <fieldset>
      <legend><center></center></legend>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      
      
      
      <br>
              
                
      
      
      

          
    
         
          
         
          
         
      <div class="container">
        
            
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P01" target="_self">
                                  <img src="imagens\P-01.bmp"  class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>P-01</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P02" target="_self">
                                  <img src="imagens\P-02.bmp"  class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>P-02</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P03" target="_self">
                                  <img src="imagens\P-03.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>P-03</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              
            
            
                
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P04" target="_self">
                                  <img src="imagens\P-04.bmp"  class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>P-04</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P05" target="_self">
                                  <img src="imagens\P-05.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>P-05</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P06" target="_self">
                                  <img src="imagens\P-06.bmp" class="img-thumbnail" alt="Fjords" style="width:100%">
                                  <div class="caption"><center>P-06</center>
                                    
                                  </div>
                                </a>
                  
                
              
              
              
            
          </div>
        </div>
        


      
        
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P07" target="_self">
                                  <img src="imagens\P-07.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>P-07</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P08" target="_self">
                                  <img src="imagens\P-08.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>P-08</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P09" target="_self">
                                  <img src="imagens\P-09.bmp" class="img-thumbnail"  style="width:100%">
                                  <div class="caption"><center>P-09</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              
            
              
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P10" target="_self">
                                  <img src="imagens\P-10.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>P-10</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P11" target="_self">
                                  <img src="imagens\P-11.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>P-11</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_calc_P12" target="_self">
                                  <img src="imagens\P-12.bmp" class="img-thumbnail"alt="Fjords" style="width:100%">
                                  <div class="caption"><center>P-12</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
            
                
                    
                      <div class="col-md-4">
                        <div class="thumbnail">
                          <a href="menu_calc_P13" target="_self">
                                        <img src="imagens\P-13.bmp" class="img-thumbnail" style="width:100%">
                                        <div class="caption"><center>P-13</center>
                                          
                                        </div>
                                      </a>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div class="thumbnail">
                            <a href="menu_calc_P14" target="_self">
                                          <img src="imagens\P-14.bmp" class="img-thumbnail" style="width:100%">
                                          <div class="caption"><center>P-14</center>
                                          
                                            
                                          </div>
                                        </a>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                              <a href="menu_calc_P99_2" target="_self">
                                            <img src="imagens\P99-2.bmp" class="img-thumbnail" style="width:100%">
                                            <div class="caption"><center>P99-2</center>
                                              
                                            </div>
                                          </a>
                            </div>
                          </div>


                          
                              
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="menu_calc_P99_3" target="_self">
                                                  <img src="imagens\P99-3.bmp" class="img-thumbnail" style="width:100%">
                                                  <div class="caption"><center>P99-3</center>
                                                    
                                                  </div>
                                                </a>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="thumbnail">
                                      <a href="menu_calc_P99_4" target="_self">
                                                    <img src="imagens\P99-4.bmp" class="img-thumbnail" style="width:100%">
                                                    <div class="caption"><center>P99-4</center>
                                                      
                                                    </div>
                                                  </a>
                                    </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="thumbnail">
                                        <a href="menu_calc_P99_5" target="_self">
                                                      <img src="imagens\P99-5.bmp" class="img-thumbnail" style="width:100%">
                                                      <div class="caption"><center>P99-4</center>
                                                        
                                                      </div>
                                                    </a>
                                      </div>
                                      </div>
                                    
                                      
                                    
                                    
                                      
                                          <div class="col-md-4">
                                            <div class="thumbnail">
                                              <a href="menu_calc_P99_6" target="_self">
                                                            <img src="imagens\P99-6.bmp" class="img-thumbnail" style="width:100%">
                                                            <div class="caption"><center>P99-6</center>
                                                              
                                                            </div>
                                                          </a>
                                            </div>




                                          </div>
                                          
                                            
                                          <div class="col-md-4">
                                              <div class="thumbnail">
                                                <a href="menu_calc_P99_7" target="_self">
                                                              <img src="imagens\P99-7.bmp" class="img-thumbnail" style="width:100%">
                                                              <div class="caption"><center>P99-7</center>
                                                                
                                                              </div>
                                                            </a>
                                              </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="thumbnail">
                                                  <a href="menu_calc_P99_8" target="_self">
                                                                <img src="imagens\P99-8.bmp" class="img-thumbnail" style="width:100%">
                                                                <div class="caption"><center>P99-8</center>
                                                                  
                                                                </div>
                                                              </a>
                                                </div>
                                              </div>
                                                        
                                                              
                                                                
        
     
    
                                              
                                                
                                                  <div class="col-md-4">
                                                    <div class="thumbnail">
                                                      <a href="menu_calc_P99_9" target="_self">
                                                                    <img src="imagens\P99-9.bmp" class="img-thumbnail" style="width:100%">
                                                                    <div class="caption"><center>P99-9</center>
                                                                      
                                                                    </div>
                                                                  </a>
                                                    </div>
                                                  </div>
                                                
            
          
        
        
        
         
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
          
        </body>
      </html>