<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shhrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link href="node_modules\bootstrap\dist\css\bootstrap.css" rel="stylesheet">
    <link href="node_modules\bootstrap\dist\css\bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid ">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">PerfisCalc - Altamira</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">Perfis</a></li>
              <li><a href="barras_comprimidas">Barras Comprimidas</a></li>
              <li><a href="calc_vigas">Cálculo de Vigas</a></li>
              <li><a href="menu_prateleiras">Prateleiras</a></li>
              <li><a href="menu_prateleiras_portapallets_conj">Pratelerias Porta-Pallets (Conjunto)</a></li>
              <li><a href="prateleiras_ind">Pratelerias Porta-Pallets (Individual)</a></li>
              <li><a href="menu_pisos">Pisos</a></li>
              <li><a href="entrada_laterais">Entrada de Laterias Novas</a></li>
              
          </div>
        </div>
        </nav>

     <br>
        
          
              
              
    
      
      <div class"container-fluid">
          <div class="row">

                  <div class="section">
                  <div class="container">
                    <div class="row">
                        <div class="thumbnail">
                        <img src="imagens\menu_calc_P01.jpg" style="width:40%" class="center-block img-responsive img-rounded">
                      <ul class="pager"></ul>
                    </div> 

                                      
        
            
                        
                          <div class="well">
                            <div class="container-fluid">
                            <form action="/action_page.php">
                             
                              <div class="form-group col-xs-4">
                                <label for="email">Comprimento (L1)</label>
                                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                              </div>
                              <div class="form-group col-xs-4">
                                <label for="pwd">Carga Pontual (P)</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                              </div>
                               <div class="form-group col-xs-4">
                                <label for="pwd"><h3><b>Resultado</b></h3></label>
                               </div>
                              
                            
                              
                              <form action="/action_page.php">
                              <div class="form-group col-xs-4">
                                <label for="email">Comprimento (L2)</label>
                                <input type="email" class="form-control" id="email" placeholder="mm" name="PWD">
                              </div>
                              <div class="form-group col-xs-4">
                                <label for="pwd">Carga Pontual (F)</label>
                                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                              </div>
                               <div class="form-group col-xs-4">
                                <label for="pwd">Momento</label>
                                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                              </div>

                            </form>
                              <form action="/action_page.php">
                              <div class="form-group col-xs-4">
                                <label for="email">Comrpimento (L3)</label>
                                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                              </div>
                              <div class="form-group col-xs-4">
                                <label for="pwd">Tensão de Escoamento</label>
                                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                              </div>
                               <div class="form-group col-xs-4">
                                <label for="pwd">wx</label>
                                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                              </div>
                              <form action="/action_page.php">
                              <div class="form-group col-xs-4">
                                <label for="email">Carga Distribuída</label>
                                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                              </div>
                              <div class="form-group col-xs-4">
                               
                                
                              </div>
                               <div class="form-group col-xs-4">
                                <label for="pwd">lx</label>
                                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                              </div>
                            </form>
                            <form action="/action_page.php">
                              <div class="form-group col-xs-4">
                                <label for="email">Espessura (t)</label>
                                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                              </div>
                              <div class="form-group col-xs-4">
                                
                                
                              </div>
                               <div class="form-group col-xs-4">
                                <label for="pwd">ÁreaFC</label>
                                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                              </div>
                              
                                              </form>   
                                            </br>
                                              
                                              
                                                   <p align="right" class="btn-lg"><a href="calc_vigas"> <button type="button" class="btn btn-primary" style="width: 100px">Voltar</button></a>
                                                
                                                    
                                                   <button type="button" class="btn btn-default" style="width: 100px">
                                                    <span class="glyphicon glyphicon-print"></span>Imprimir</button></p>
                                                    
                                                    
                                                    
                                                   <p align="right" class="btn-lg"> <button type="button" class="btn btn-success"  style="width: 100px">Calcular</button>
                                                   <a href="C:\Users\clodoaldo.dias\git\perfisCalc\index_calc_vigas\P01.html">
                                                      <a href="menu_calc_P01"><button type="button" class="btn btn-danger"  style="width: 100px">Cancelar</button></a>
                                              
                          </div>
                        

    









  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    
  </body>
</html>