<!DOCTYPE html>
<html lang="pt-br">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
    
    </script>
    
    <style>
        table, th, td {
            border: 1px solid black;
        }
        h3
{
  border:1px solid black;
}
        </style>
  
  
  </head>
<body  >
    

  
    <div class="container">
    
        
  


            
<br>
                  


<br>
<div class="container">
  <h2>Resultado</h2>
  <br>
  <br>
  
  <table class="table table-bordered">
    <thead>
      
    </thead>
    <tbody>
      <tr>
        <td>Espessura..:</td>
        
      </tr>
      <tr>
        <td>St. Venan..:</td>
        
      </tr>
      <tr>
        <td>Rx..:</td>
        
      </tr>
      <tr>
        <td>Cw..:</td>
        
      </tr>
      <tr>
            <td>Ry..:</td>
            
          </tr>
          <tr>
                <td>Chapa..:</td>
                
              </tr>
              <tr>
                    <td>X0..:</td>
                    
                  </tr>
                  <tr>
                    <td>Área Efetiva..:</td>
                    
                  </tr>
                  <tr>
                    <td>Fy..:</td>
                    
                  </tr>
                  <tr>
                    <td>Lt..:</td>
                    
                  </tr>
                  <tr>
                    <td>Kt..:</td>
                    
                  </tr>
                  <tr>
                    <td>Ly..:</td>
                    
                  </tr>
                  <tr>
                    <td>Ky..:</td>
                    
                  </tr>
                  <tr>
                    <td>Ix..:</td>
                    
                  </tr>
                  <tr>
                    <td>Kx..:</td>
                    
                  </tr>
                  <tr>
                    <td>W..:</td>
                    
                  </tr>
                  <tr>
                    <td>Área Total..:</td>
                    
                  </tr>
                  <tr>
                    <td>Profundidade..:</td>
                    
                  </tr>
                  <tr>
                    <td>Altura..:</td>
                    
                  </tr>
    </tbody>

  </table>
</div>







</body>
</html>