<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="estilo.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="javascript/barras_comprimidas/barras_comprimidas.js"></script>
  


</head>

<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">
      <img src="imagens/altamira.jpg" alt="logo" style="width:190px;">
    </a>
  <div class="container">
    <div class="navbar-header">
      
    </div>
    <ul class="nav navbar-nav">
              
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfis<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/">Perfis Normais</a></li>
          <li><a href="/perfis_perfurados">Perfis Perfurados</a></li>
          
        </ul>
      </li>
      <li><a href="barras_comprimidas">Barras Comprimidas</a></li>
            <li><a href="calc_vigas">Cálculo de Vigas</a></li>
            <li><a href="menu_prateleiras">Prateleiras</a></li>
            <li><a href="menu_prateleiras_portapallets_conj">Pratelerias Porta-Pallets (Conjunto)</a></li>
            <li><a href="prateleiras_ind">Pratelerias Porta-Pallets (Individual)</a></li>
            <li><a href="menu_pisos">Pisos</a></li>
            <li><a href="entrada_laterais">Laterias Novas</a></li>
    </ul>
    
</nav>


  
 
  
 <fieldset>
  <legend><center></center></legend>
  <hr>
  <hr>
  
  <hr>
  <hr>
  <hr>
  
  
          
          
          <br>
          <br>
          <br>
          <div class="container">
          <div class="well">
          
          <div class="row">
          
          
          <form class="form-inline" >
          
            
            <h3><center><b>Barras Comprimidas</b></center></h3>
                    
            <hr>       
                    
                    
                  </tbody>
                </table> 
              <br>
              
              <br>
              <select class="form-control" style="width:10%;margin-left: 20px;">
              <option>Caixão</option>
              <option>Aberto</option>
              <option>Dupla</option>
              </select>
              
              
              
              
              </form>
              <br>
            
            
          
             
                <form class="form-inline" >
                
                    
                  <select class="form-control" style="width:10%;margin-left: 20px;">
                    <option>.**.**</option>
                    <option>Enrigedido</option>
                    <option>Abas Livres</option>
                    </select>
                    
                    
                    
                    
                    </form>
                    <br>
          
          
          
          
            <br>
            <form name="form01" action="/action_page.php">
            
              <div class="form-group col-xs-2">
                <label for="text">Espessura (t)</label>
                <input type="text" class="form-control" id="espess" placeholder="mm" name="espess">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">St. Venan</label>
                <input type="text" class="form-control" id="stvenan" placeholder="mm" name="stvenan" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">Rx</label>
                <input type="text" class="form-control" id="rx" placeholder="mm" name="rx" readonly="true">
              </div>
              
                  
                  
             
              </form>
              
              <form name="form02" action="/action_page.php">
              <div class="form-group col-xs-2">
                <label for="text">Cw</label>
                <input type="text" class="form-control" id="cw" placeholder="mm" name="cw" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">Ry</label>
                <input type="text" class="form-control" id="ry" placeholder="mm" name="ry" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="email">X0</label>
                <input type="email" class="form-control" id="x0" placeholder="mm" name="x0" readonly="true">
              </div>

              
              
              </form>
              
              <form name="form03" action="/action_page.php">
              <div class="form-group col-xs-2">
                <label for="text">Área Efetiva</label>
                <input type="text" class="form-control" id="areaefetiva" placeholder="mm" name="areaefetiva" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">Fy</label>
                <input type="text" class="form-control" id="fy" placeholder="mm" name="fy" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">Lt</label>
                <input type="text" class="form-control" id="lt" placeholder="mm" name="lt" readonly="true">
              </div>
              </form>

              <form name="form04" action="/action_page.php">
              <div class="form-group col-xs-2">
                <label for="text">Kt</label>
                <input type="text" class="form-control" id="kt" placeholder="mm" name="kt" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">Ly</label>
                <input type="text" class="form-control" id="ly" placeholder="mm" name="ly" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">Ky</label>
                <input type="text" class="form-control" id="ky" placeholder="mm" name="ky" readonly="true">
              </div>
              </form>


              
              <form name="form05" action="/action_page.php">
              <div class="form-group col-xs-2">
                <label for="text">Ix</label>
                <input type="text" class="form-control" id="ix" placeholder="mm" name="ix" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">Kx</label>
                <input type="text" class="form-control" id="kx" placeholder="mm" name="kx" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">W</label>
                <input type="text" class="form-control" id="w" placeholder="mm" name="w" readonly="true">
              </div>
              </form>
              <form  name="form06" action="/action_page.php">
              <div class="form-group col-xs-2">
                <label for="text">Área Total</label>
                <input type="text" class="form-control" id="areatotal" placeholder="mm" name="areatotal" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">(l) Profundidade</label>
                <input type="text" class="form-control" id="profundidade" placeholder="mm" name="profundidade" readonly="true">
              </div>
              <div class="form-group col-xs-2">
                <label for="text">(h) Altura</label>
                <input type="text" class="form-control" id="altura" placeholder="mm" name="altura" readonly="true">
              </div>
            </form>
            
              
          </div>
          <br>
          <br>
          <br>
          
              <button type="button" onclick="validar();soma();" class="btn btn-success" style="width: 100px; margin-left:08px;"   >Calcular</button>
                    
                    

              <a href="/">
                <button type="button" class="btn btn-primary" style="width: 100px; ">Voltar</button>
      <hr>
          </div>
        
        



      <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>


        </body>
      </html>