<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="estilo.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="javascript/menu_principal/menu_principal_01_1.js"></script>
  


</head>

<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">
      <img src="imagens/altamira.jpg" alt="logo" style="width:190px;">
    </a>
  <div class="container">
    <div class="navbar-header">
      
    </div>
    <ul class="nav navbar-nav">
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfis<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/">Perfis Normais</a></li>
          <li><a href="/perfis_perfurados">Perfis Perfurados</a></li>
          
        </ul>
      </li>
      <li><a href="barras_comprimidas">Barras Comprimidas</a></li>
            <li><a href="">Cálculo de Vigas</a></li>
            <li><a href="">Prateleiras</a></li>
            <li><a href="">Pratelerias Porta-Pallets (Conjunto)</a></li>
            <li><a href="">Pratelerias Porta-Pallets (Individual)</a></li>
            <li><a href="">Pisos</a></li>
            <li><a href="">Laterias Novas</a></li>
    </ul>
    
</nav>


  
 
  
 <fieldset>
  <legend><center></center></legend>
  <hr>
  <hr>
  
  <hr>
  <hr>
  <hr>
  
  
          
          
          <br>
          <br>
          <br>
          <div class="container">
          <div class="well">
          
          <div class="row">
          
          
          <form class="form-inline" >
          
            
            <h3><center><b>Barras Comprimidas</b></center></h3>
                    
            <hr>       
                    
                    
                  </tbody>
                </table> 
              <br>
              
              <br>
              <select class="form-control" style="width:10%;margin-left: 20px;">
              <option>Caixão</option>
              <option>Aberto</option>
              <option>Dupla</option>
              </select>
              
              
              
              
              </form>
              <br>
            
            
          
             
                <form class="form-inline" >
                
                    
                  <select class="form-control" style="width:10%;margin-left: 20px;">
                    <option>.**.**</option>
                    <option>Enrigedido</option>
                    <option>Abas Livres</option>
                    </select>
                    
                    
                    
                    
                    </form>
                    <br>
          
          
          
          
            <br>
            <form action="/action_page.php">
            
              <div class="form-group col-xs-2">
                <label for="email">Espessura (t)</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>
              <div class="form-group col-xs-2">
                <label for="pwd">St. Venan</label>
                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
              </div>
              <div class="form-group col-xs-2">
                <label for="email">Rx</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>
              
                  
                  
             
              </form>
              
              <form action="/action_page.php">
              <div class="form-group col-xs-2">
                <label for="email">Cw</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>
              <div class="form-group col-xs-2">
                <label for="pwd">Ry</label>
                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
              </div>
              <div class="form-group col-xs-2">
                <label for="email">X0</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>

              
              
              </form>
              
              <form action="/action_page.php">
              <div class="form-group col-xs-2">
                <label for="email">Área Efetiva</label>
                <input type="email" class="form-control" id="email" placeholder="mml" name="email">
              </div>
              <div class="form-group col-xs-2">
                <label for="pwd">Fy</label>
                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
              </div>
              <div class="form-group col-xs-2">
                <label for="email">Lt</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>
              </form>
              <form action="/action_page.php">
              <div class="form-group col-xs-2">
                <label for="email">Kt</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>
              <div class="form-group col-xs-2">
                <label for="pwd">Ly</label>
                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
              </div>
              <div class="form-group col-xs-2">
                <label for="email">Ky</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>
              </form>


              
              <form action="/action_page.php">
              <div class="form-group col-xs-2">
                <label for="email">Lx</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>
              <div class="form-group col-xs-2">
                <label for="pwd">Kx</label>
                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
              </div>
              <div class="form-group col-xs-2">
                <label for="email">W</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>
              </form>
              <form action="/action_page.php">
              <div class="form-group col-xs-2">
                <label for="email">Área Total</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>
              <div class="form-group col-xs-2">
                <label for="pwd">(l) Profundidade</label>
                <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
              </div>
              <div class="form-group col-xs-2">
                <label for="email">(h) Altura</label>
                <input type="email" class="form-control" id="email" placeholder="mm" name="email">
              </div>
            </form>
            
              
          </div>
          <br>
          <br>
          <br>
          
              <button type="button" onclick="validar();soma();" class="btn btn-success" style="width: 100px; margin-left:08px;"   >Calcular</button>
                    
                    

              <a href="/">
                <button type="button" class="btn btn-primary" style="width: 100px; ">Voltar</button>
      <hr>
          </div>
        
        



      <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>


        </body>
      </html>