<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="estilo.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  <script src="jquery/jquery.min.js"></script> 
  
    
    </style>
    
  
  </head>
  
  
  
      
  <body background="/imagens/fundo.jpg">
      
      
    <nav class="navbar navbar-inverse">
      
      <div class="container">
        <div class="navbar-header">
          
        </div>
        <ul class="nav navbar-nav">
              
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfis<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">Perfis Normais</a></li>
              <li><a href="/perfis_perfurados">Perfis Perfurados</a></li>
              
            </ul>
          </li>
          <li><a href="barras_comprimidas">Barras Comprimidas</a></li>
                <li><a href="calc_vigas">Cálculo de Vigas</a></li>
                <li><a href="menu_prateleiras">Prateleiras</a></li>
                <li><a href="menu_prateleiras_portapallets_conj">Pratelerias Porta-Pallets (Conjunto)</a></li>
                <li><a href="prateleiras_ind">Pratelerias Porta-Pallets</a></li>
                <li><a href="menu_pisos">Pisos</a></li>
                <li><a href="entrada_laterais">Laterias Novas</a></li>
        </ul>
        
    </nav>
    
    
      
     
      
    <fieldset>
      <legend><center></center></legend>
      <br><br>
          <div class="container">
            <div class="container">
              <div class="row">
                  
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_n2" target="_self">
                                  <img src="imagens\N_2.bmp" class="img-thumbnail"  >
                                  <div class="caption"><center>N_2</center>
                                  </a>             
                                  </div>
                                
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_n3" target="_self">
                                  <img src="imagens\N_3.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>N_3</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_n5" target="_self">
                                  <img src="imagens\N_5.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>N_5</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="container ">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_n7" target="_self">
                                  <img src="imagens\N_7.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>N_7</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_u3" target="_self">
                                  <img src="imagens\U_3.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>U_3</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_u7" target="_self">
                                  <img src="imagens\U_7.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>U_7</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
              
        


      
        <div class="container">
            
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="ppla" target="_self">
                                  <img src="imagens\PPLA.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>PPLA</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="ppln" target="_self">
                                  <img src="imagens\PPLN.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>PPLN</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="ppna" target="_self">
                                  <img src="imagens\PPNA.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>PPNA</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="container text-center">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="ppnn" target="_self">
                                  <img src="imagens\PPNN.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>PPNN</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="pppa" target="_self">
                                  <img src="imagens\PPPA.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>PPPA</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="pppn" target="_self">
                                  <img src="imagens\PPPN.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>PPPN</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
            
                
                          </div>
                          </div>


                          <div class="container text-center">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="N41" target="_self">
                                                  <img src="imagens\41N.bmp" class="img-thumbnail" style="width:100%">
                                                  <div class="caption"><center>41N</center>
                                                    
                                                  </div>
                                                </a>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="thumbnail">
                                      <a href="N42" target="_self">
                                                    <img src="imagens\42N.bmp" class="img-thumbnail" style="width:100%">
                                                    <div class="caption"><center>42N</center>
                                                      
                                                    </div>
                                                  </a>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="thumbnail">
                                      <a href="S41" target="_self">
                                                    <img src="imagens\41S.bmp" class="img-thumbnail" style="width:100%">
                                                    <div class="caption"><center>41S</center>
                                                      
                                                    </div>
                                                  </a>
                                    </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="thumbnail">
                                        <a href="S42" target="_self">
                                                      <img src="imagens\42S.bmp" class="img-thumbnail" style="width:100%">
                                                      <div class="caption"><center>42S</center>
                                                        
                                                      </div>
                                                    </a>
                                      </div>
                                    </div>
                                    
                                                        
                                                              
                                                                
        
     
    
                                                               
                                                                                                                          
                                                                                                                        </div>
                                                                                                                      </a>
                                                                                                        </div>
                                                                                                      </div>




                                                                                                    </fieldset>




                                                              
                                                            

    
  
        
            
         
        
        
        
         
                                                                                                    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
                                                                                                    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
                                                                                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                                                                                                    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
                                                                                                    
                                                                                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                                                                                                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                                                                                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                                                                                                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                                                                                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                                                                                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                                                                                                    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
                                                                                            
                                                                                            
          
        </body>

        
      </html>