<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shhrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link href="node_modules\bootstrap\dist\css\bootstrap.css" rel="stylesheet">
    <link href="node_modules\bootstrap\dist\css\bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
    <style type="text/css">
    
    </style>
    
  
  </head>
  
  
  
      
  <body>
      
      
      <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              
            </div>
            <ul class="nav navbar-nav">
              
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfis<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/">Perfis Normais</a></li>
                  <li><a href="/">Perfis Perfurados</a></li>
                  
                </ul>
              </li>
              <li><a href="">Barras Comprimidas</a></li>
                    <li><a href="">Cálculo de Vigas</a></li>
                    <li><a href="">Prateleiras</a></li>
                    <li><a href="">Pratelerias Porta-Pallets (Conjunto)</a></li>
                    <li><a href="">Pratelerias Porta-Pallets (Individual)</a></li>
                    <li><a href="">Pisos</a></li>
                    <li><a href="">Laterias Novas</a></li>
            </ul>
          </div>
        </nav>
    
    
         <br>
         <br> 
         
          
         <div class="well">
          <div class="container">
            <div class="container">
              <div class="row">
                  
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_n2" target="_self">
                                  <img src="imagens\N_2.bmp" class="img-thumbnail"  >
                                  <div class="caption">
                                  </a>             
                                  </div>
                                
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_n3" target="_self">
                                  <img src="imagens\N_3.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_n5" target="_self">
                                  <img src="imagens\N_5.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="container ">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_n7" target="_self">
                                  <img src="imagens\N_7.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_u3" target="_self">
                                  <img src="imagens\U_3.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="perfil_u7" target="_self">
                                  <img src="imagens\U_7.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
              
        


      
        <div class="container">
            
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_07" target="_self">
                                  <img src="imagens\PPLA.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_08" target="_self">
                                  <img src="imagens\PPLN.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_09" target="_self">
                                  <img src="imagens\PPNA.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="container text-center">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_10" target="_self">
                                  <img src="imagens\PPNN.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_11" target="_self">
                                  <img src="imagens\PPPA.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_12" target="_self">
                                  <img src="imagens\PPPN.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
            
                
                          </div>
                          </div>


                          <div class="container text-center">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="menu_principal_16a" target="_self">
                                                  <img src="imagens\41N.bmp" class="img-thumbnail" style="width:100%">
                                                  <div class="caption">
                                                    
                                                  </div>
                                                </a>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="thumbnail">
                                      <a href="menu_principal_17" target="_self">
                                                    <img src="imagens\42N.bmp" class="img-thumbnail" style="width:100%">
                                                    <div class="caption">
                                                      
                                                    </div>
                                                  </a>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="thumbnail">
                                      <a href="menu_principal_17b" target="_self">
                                                    <img src="imagens\41S.bmp" class="img-thumbnail" style="width:100%">
                                                    <div class="caption">
                                                      
                                                    </div>
                                                  </a>
                                    </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="thumbnail">
                                        <a href="menu_principal_18" target="_self">
                                                      <img src="imagens\42S.bmp" class="img-thumbnail" style="width:100%">
                                                      <div class="caption">
                                                        
                                                      </div>
                                                    </a>
                                      </div>
                                    </div>
                                    
                                                        
                                                              
                                                                
        
     
    
                                                               
                                                                                                                          
                                                                                                                        </div>
                                                                                                                      </a>
                                                                                                        </div>
                                                                                                      </div>









                                                              
                                                            

    
  
        
            
         
        
        
        
         
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
          
        </body>

        
      </html>