<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shhrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link href="node_modules\bootstrap\dist\css\bootstrap.css" rel="stylesheet">
    <link href="node_modules\bootstrap\dist\css\bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>
  
  
  
      
  <body>
      
      
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid ">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">PerfisCalc - Altamira</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">Perfis</a></li>
              <li><a href="barras_comprimidas">Barras Comprimidas</a></li>
              <li><a href="calc_vigas">Cálculo de Vigas</a></li>
              <li><a href="menu_prateleiras">Prateleiras</a></li>
              <li><a href="menu_prateleiras_portapallets_conj">Pratelerias Porta-Pallets (Conjunto)</a></li>
              <li><a href="prateleiras_ind">Pratelerias Porta-Pallets (Individual)</a></li>
              <li><a href="menu_pisos">Pisos</a></li>
              <li><a href="entrada_laterais">Entrada de Laterias Novas</a></li>
              
          </div>
        </div>
        </nav>
         <br>
         <br> 
         
          
         <div class="well">
          <div class="container-fluid">
            <div class="container">
              <div class="row">
                  
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_01" target="_self">
                                  <img src="imagens/menu_principal_01.jpg" class="img-thumbnail"  style="width:100%">
                                  <div class="caption">
                                  </a>             
                                  </div>
                                
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_02" target="_self">
                                  <img src="imagens\menu_principal_02.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_03" target="_self">
                                  <img src="imagens\menu_principal_03.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="container ">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_04" target="_self">
                                  <img src="imagens\menu_principal_04.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_05" target="_self">
                                  <img src="imagens\menu_principal_05.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_06" target="_self">
                                  <img src="imagens\menu_principal_06.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
              
        


      
        <div class="container">
            
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_07" target="_self">
                                  <img src="imagens\menu_principal_07.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_08" target="_self">
                                  <img src="imagens\menu_principal_08.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_09" target="_self">
                                  <img src="imagens\menu_principal_09.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="container text-center">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_10" target="_self">
                                  <img src="imagens\menu_principal_10.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_11" target="_self">
                                  <img src="imagens\menu_principal_11.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_12" target="_self">
                                  <img src="imagens\menu_principal_12.jpg" class="img-thumbnail" style="width:100%">
                                  <div class="caption">
                                    
                                  </div>
                                </a>
                  </div>
                </div>
            
                <div class="container text-center">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="thumbnail">
                          <a href="menu_principal_13" target="_self">
                                        <img src="imagens\menu_principal_13.jpg" class="img-thumbnail" style="width:100%">
                                        <div class="caption">
                                          
                                        </div>
                                      </a>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div class="thumbnail">
                            <a href="menu_principal_14" target="_self">
                                          <img src="imagens\menu_principal_14.jpg" style="width:100%">
                                          <div class="caption">
                                            
                                          </div>
                                        </a>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                              <a href="menu_principal_15" target="_self">
                                            <img src="imagens\menu_principal_15.jpg" class="img-thumbnail" style="width:100%">
                                            <div class="caption">
                                              
                                            </div>
                                          </a>
                            </div>
                          </div>


                          <div class="container text-center">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="menu_principal_16a" target="_self">
                                                  <img src="imagens\menu_principal_16a.jpg" class="img-thumbnail" style="width:100%">
                                                  <div class="caption">
                                                    
                                                  </div>
                                                </a>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="thumbnail">
                                      <a href="menu_principal_17" target="_self">
                                                    <img src="imagens\menu_principal_17.jpg" class="img-thumbnail" style="width:100%">
                                                    <div class="caption">
                                                      
                                                    </div>
                                                  </a>
                                    </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="thumbnail">
                                        <a href="menu_principal_18" target="_self">
                                                      <img src="imagens\menu_principal_18.jpg" class="img-thumbnail" style="width:100%">
                                                      <div class="caption">
                                                        
                                                      </div>
                                                    </a>
                                      </div>
                                    </div>
                                    <div class="container text-center">
                                        <div class="row">
                                          <div class="col-md-4">
                                            <div class="thumbnail">
                                              <a href="menu_principal_19a" target="_self">
                                                            <img src="imagens\menu_principal_19a.jpg" class="img-thumbnail" style="width:100%">
                                                            <div class="caption">
                                                              
                                                            </div>
                                                          </a>
                                            </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="thumbnail">
                                                <a href="menu_principal_19b" target="_self">
                                                              <img src="imagens\menu_principal_19b.jpg" class="img-thumbnail" style="width:100%">
                                                              <div class="caption">
                                                                
                                                              </div>
                                                            </a>
                                              </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="thumbnail">
                                                  <a href="menu_principal_20" target="_self">
                                                                <img src="imagens\menu_principal_20.jpg" class="img-thumbnail" style="width:100%">
                                                                <div class="caption">
                                                                  
                                                                </div>
                                                              </a>
                                                </div>
                                              </div>
                                              
                                                        
                                                              
                                                                
        
     
    
                                              <div class="container text-center">
                                                <div class="row">
                                                  <div class="col-md-4">
                                                    <div class="thumbnail">
                                                      <a href="menu_principal_21a" target="_self">
                                                                    <img src="imagens\menu_principal_21a.jpg" class="img-thumbnail" style="width:100%">
                                                                    <div class="caption">
                                                                      
                                                                    </div>
                                                                  </a>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4">
                                                      <div class="thumbnail">
                                                        <a href="menu_principal_21b" target="_self">
                                                                      <img src="imagens\menu_principal_21b.jpg" class="img-thumbnail" style="width:100%">
                                                                      <div class="caption">
                                                                        
                                                                      </div>
                                                                    </a>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="thumbnail">
                                                          <a href="menu_principal_22" target="_self">
                                                                        <img src="imagens\menu_principal_22.jpg" class="img-thumbnail" style="width:100%">
                                                                        <div class="caption">
                                                                          
                                                                        </div>
                                                                      </a>
                                                        </div>
                                                      </div>

                                                      <div class="container text-center">
                                                        <div class="row">
                                                          <div class="col-md-4">
                                                            <div class="thumbnail">
                                                              <a href="menu_principal_23a" target="_self">
                                                                            <img src="imagens\menu_principal_23a.jpg" class="img-thumbnail" style="width:100%">
                                                                            <div class="caption">
                                                                              
                                                                            </div>
                                                                          </a>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-4">
                                                              <div class="thumbnail">
                                                                <a href="menu_principal_23b" target="_self">
                                                                              <img src="imagens\menu_principal_23b.jpg"  class="img-thumbnail" style="width:100%">
                                                                              <div class="caption">
                                                                                
                                                                              </div>
                                                                            </a>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="thumbnail">
                                                                  <a href="menu_principal_24a" target="_self">
                                                                                <img src="imagens\menu_principal_24a.jpg" class="img-thumbnail" style="width:100%">
                                                                                <div class="caption">
                                                                                  
                                                                                </div>
                                                                              </a>
                                                                </div>
                                                              </div>







                                                              <div class="container text-center">
                                                                <div class="row">
                                                                  <div class="col-md-4">
                                                                    <div class="thumbnail">
                                                                      <a href="menu_principal_24b" target="_self">
                                                                                    <img src="imagens\menu_principal_24b.jpg" class="img-thumbnail" style="width:100%">
                                                                                    <div class="caption">
                                                                                      
                                                                                    </div>
                                                                                  </a>
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-md-4">
                                                                      <div class="thumbnail">
                                                                        <a href="menu_principal_25" target="_self">
                                                                                      <img src="imagens\menu_principal_25.jpg" class="img-thumbnail" style="width:100%">
                                                                                      <div class="caption">
                                                                                        
                                                                                      </div>
                                                                                    </a>
                                                                      </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="thumbnail">
                                                                          <a href="menu_principal_26" target="_self">
                                                                                        <img src="imagens\menu_principal_26.jpg" class="img-thumbnail" style="width:100%">
                                                                                        <div class="caption">
                                                                                          
                                                                                        </div>
                                                                                      </a>
                                                                        </div>
                                                                      </div>

                                                                      <div class="container text-center">
                                                                        <div class="row">
                                                                          <div class="col-md-4">
                                                                            <div class="thumbnail">
                                                                              <a href="menu_principal_27" target="_self">
                                                                                            <img src="imagens\menu_principal_27.jpg" class="img-thumbnail" style="width:100%">
                                                                                            <div class="caption">
                                                                                              
                                                                                            </div>
                                                                                          </a>
                                                                            </div>
                                                                          </div>
                                                                          <div class="col-md-4">
                                                                              <div class="thumbnail">
                                                                                <a href="menu_principal_28" target="_self">
                                                                                              <img src="imagens\menu_principal_28.jpg" class="img-thumbnail" style="width:100%">
                                                                                              <div class="caption">
                                                                                                
                                                                                              </div>
                                                                                            </a>
                                                                              </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="thumbnail">
                                                                                  <a href="menu_principal_29" target="_self">
                                                                                                <img src="imagens\menu_principal_29.jpg" class="img-thumbnail" style="width:100%">
                                                                                                <div class="caption">
                                                                                                  
                                                                                                </div>
                                                                                              </a>
                                                                                </div>
                                                                              </div>
                                                                              <div class="container text-center">
                                                                                <div class="row">
                                                                                  <div class="col-md-4">
                                                                                    <div class="thumbnail">
                                                                                      <a href="menu_principal_30" target="_self">
                                                                                                    <img src="imagens\menu_principal_30.jpg" class="img-thumbnail" style="width:100%">
                                                                                                    <div class="caption">
                                                                                                      
                                                                                                    </div>
                                                                                                  </a>
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="col-md-4">
                                                                                      <div class="thumbnail">
                                                                                        <a href="menu_principal_31" target="_self">
                                                                                                      <img src="imagens\menu_principal_31.jpg" class="img-thumbnail" style="width:100%">
                                                                                                      <div class="caption">
                                                                                                        
                                                                                                      </div>
                                                                                                    </a>
                                                                                      </div>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <div class="thumbnail">
                                                                                          <a href="menu_principal_32" target="_self">
                                                                                                        <img src="imagens\menu_principal_32.jpg" class="img-thumbnail" style="width:100%">
                                                                                                        <div class="caption">
                                                                                                          
                                                                                                        </div>
                                                                                                      </a>
                                                                                        </div>
                                                                                      </div>
                                                                                      <div class="container text-center">
                                                                                        <div class="row">
                                                                                          <div class="col-md-4">
                                                                                            <div class="thumbnail">
                                                                                              <a href="menu_principal_33" target="_self">
                                                                                                            <img src="imagens\menu_principal_33.jpg" class="img-thumbnail" style="width:100%">
                                                                                                            <div class="caption">
                                                                                                              
                                                                                                            </div>
                                                                                                          </a>
                                                                                            </div>
                                                                                          </div>
                                                                                          <div class="col-md-4">
                                                                                              <div class="thumbnail">
                                                                                                <a href="menu_principal_34" target="_self">
                                                                                                              <img src="imagens\menu_principal_34.jpg" class="img-thumbnail" style="width:100%">
                                                                                                              <div class="caption">
                                                                                                                
                                                                                                              </div>
                                                                                                            </a>
                                                                                              </div>
                                                                                            </div>
                                                                                            <div class="col-md-4">
                                                                                                <div class="thumbnail">
                                                                                                  <a href="menu_principal_35" target="_self">
                                                                                                                <img src="imagens\menu_principal_35.jpg" class="img-thumbnail" style="width:100%">
                                                                                                                <div class="caption">
                                                                                                                  
                                                                                                                </div>
                                                                                                              </a>
                                                                                                </div>
                                                                                              </div>

                                                                                              <div class="container text-center">
                                                                                                <div class="row">
                                                                                                  <div class="col-md-4">
                                                                                                    <div class="thumbnail">
                                                                                                      <a href="menu_principal_36a" target="_self">
                                                                                                                    <img src="imagens\menu_principal_36a.jpg" class="img-thumbnail"  style="width:100%">
                                                                                                                    <div class="caption">
                                                                                                                      
                                                                                                                    </div>
                                                                                                                  </a>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                  <div class="col-md-4">
                                                                                                      <div class="thumbnail">
                                                                                                        <a href="menu_principal_36b" target="_self">
                                                                                                                      <img src="imagens\menu_principal_36b.jpg"  class="img-thumbnail" style="width:100%">
                                                                                                                      <div class="caption">
                                                                                                                        
                                                                                                                      </div>
                                                                                                                    </a>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-4">
                                                                                                        <div class="thumbnail">
                                                                                                          <a href="menu_principal_37" target="_self">
                                                                                                                        <img src="imagens\menu_principal_37.jpg" class="img-thumbnail" style="width:100%">
                                                                                                                        <div class="caption">
                                                                                                                          
                                                                                                                        </div>
                                                                                                                      </a>
                                                                                                        </div>
                                                                                                      </div>









                                                              
                                                            

    
  
        
            
          
        
        
        
         
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
          
        </body>
      </html>