<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="estilo.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  <script src="jquery/jquery.min.js"></script> 
  
    
    </style>
    
  
  </head>
  
  
  
      
  <body background="/imagens/fundo.jpg">
      
      
    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="#">
          <img src="imagens/altamira.jpg" alt="logo" style="width:190px;">
        </a>
      <div class="container">
        <div class="navbar-header">
          
        </div>
        <ul class="nav navbar-nav">
          
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfis<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">Perfis Normais</a></li>
              <li><a href="/perfis_perfurados">Perfis Perfurados</a></li>
              
            </ul>
          </li>
          <li><a href="">Barras Comprimidas</a></li>
                <li><a href="">Cálculo de Vigas</a></li>
                <li><a href="">Prateleiras</a></li>
                <li><a href="">Pratelerias Porta-Pallets (Conjunto)</a></li>
                <li><a href="">Pratelerias Porta-Pallets (Individual)</a></li>
                <li><a href="">Pisos</a></li>
                <li><a href="">Laterias Novas</a></li>
        </ul>
        
    </nav>
    
    
      
     
      
     <fieldset>
      <legend><center></center></legend>
      <hr>
      <hr>
      
      <hr>
      <hr>
      <hr>
      <br>
          <div class="container">
            <div class="container">
              <div class="row">
                  
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_01" target="_self">
                                  <img src="imagens/menu_principal_01.bmp" class="img-thumbnail"  >
                                  <div class="caption"><center>01</center>
                                               
                                  </div>
                                
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_02" target="_self">
                                  <img src="imagens\menu_principal_02.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>02</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_03" target="_self">
                                  <img src="imagens\menu_principal_03.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>03</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="container ">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_04" target="_self">
                                  <img src="imagens\menu_principal_04.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>04</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_05" target="_self">
                                  <img src="imagens\menu_principal_05.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>05</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_06" target="_self">
                                  <img src="imagens\menu_principal_06.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>06</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
              
        


      
        <div class="container">
            
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_07" target="_self">
                                  <img src="imagens\menu_principal_07.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>07</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_08" target="_self">
                                  <img src="imagens\menu_principal_08.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>08</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_09" target="_self">
                                  <img src="imagens\menu_principal_09.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>09</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="container text-center">
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_10" target="_self">
                                  <img src="imagens\menu_principal_10.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption"><center>10</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_11" target="_self">
                                  <img src="imagens\menu_principal_11.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">11
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_principal_12" target="_self">
                                  <img src="imagens\menu_principal_12.bmp" class="img-thumbnail" style="width:100%">
                                  <div class="caption">12
                                    
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
            
                <div class="container text-center">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="thumbnail">
                          <a href="menu_principal_13" target="_self">
                                        <img src="imagens\menu_principal_13.bmp" class="img-thumbnail" style="width:100%">
                                        <div class="caption">13
                                          
                                        </div>
                                      </a>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div class="thumbnail">
                            <a href="menu_principal_14" target="_self">
                                          <img src="imagens\menu_principal_14.bmp" class="img-thumbnail" style="width:100%">
                                          <div class="caption">14
                                            
                                          </div>
                                        </a>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                              <a href="menu_principal_15" target="_self">
                                            <img src="imagens\menu_principal_15.bmp" class="img-thumbnail" style="width:100%">
                                            <div class="caption">15
                                              
                                            </div>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>


                          <div class="container text-center">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="menu_principal_16a" target="_self">
                                                  <img src="imagens\menu_principal_16a.bmp" class="img-thumbnail" style="width:100%">
                                                  <div class="caption">16a
                                                    
                                                  </div>
                                                </a>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="thumbnail">
                                      <a href="menu_principal_17" target="_self">
                                                    <img src="imagens\menu_principal_17.bmp" class="img-thumbnail" style="width:100%">
                                                    <div class="caption">16b
                                                      
                                                    </div>
                                                  </a>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="thumbnail">
                                      <a href="menu_principal_17b" target="_self">
                                                    <img src="imagens\menu_principal_17b.bmp" class="img-thumbnail" style="width:100%">
                                                    <div class="caption">17a
                                                      
                                                    </div>
                                                  </a>
                                    </div>
                                  </div>
                                  </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="thumbnail">
                                        <a href="menu_principal_18" target="_self">
                                                      <img src="imagens\menu_principal_18.bmp" class="img-thumbnail" style="width:100%">
                                                      <div class="caption"><center>17b</center>
                                                        
                                                      </div>
                                                    </a>
                                      </div>
                                    </div>
                                    
                                    <div class="container text-center">
                                        <div class="row">
                                          <div class="col-md-4">
                                            <div class="thumbnail">
                                              <a href="menu_principal_19a" target="_self">
                                                            <img src="imagens\menu_principal_19a.bmp" class="img-thumbnail" style="width:100%">
                                                            <div class="caption">18
                                                              
                                                            </div>
                                                          </a>
                                            </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="thumbnail">
                                                <a href="menu_principal_19b" target="_self">
                                                              <img src="imagens\menu_principal_19b.bmp" class="img-thumbnail" style="width:100%">
                                                              <div class="caption">19a
                                                                
                                                              </div>
                                                            </a>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    
                                            <div class="col-md-4">
                                                <div class="thumbnail">
                                                  <a href="menu_principal_20" target="_self">
                                                                <img src="imagens\menu_principal_20.bmp" class="img-thumbnail" style="width:100%">
                                                                <div class="caption">19b
                                                                  
                                                                </div>
                                                              </a>
                                                </div>
                                              </div>
                                              
                                                        
                                                              
                                                                
        
     
    
                                              <div class="container text-center">
                                                <div class="row">
                                                  <div class="col-md-4">
                                                    <div class="thumbnail">
                                                      <a href="menu_principal_21a" target="_self">
                                                                    <img src="imagens\menu_principal_21a.bmp" class="img-thumbnail" style="width:100%">
                                                                    <div class="caption">20
                                                                      
                                                                    </div>
                                                                  </a>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4">
                                                      <div class="thumbnail">
                                                        <a href="menu_principal_21b" target="_self">
                                                                      <img src="imagens\menu_principal_21b.bmp" class="img-thumbnail" style="width:100%">
                                                                      <div class="caption">21a
                                                                        
                                                                      </div>
                                                                    </a>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            
                                                    <div class="col-md-4">
                                                        <div class="thumbnail">
                                                          <a href="menu_principal_22" target="_self">
                                                                        <img src="imagens\menu_principal_22.bmp" class="img-thumbnail" style="width:100%">
                                                                        <div class="caption">21b
                                                                          
                                                                        </div>
                                                                      </a>
                                                        </div>
                                                      </div>

                                                      <div class="container text-center">
                                                        <div class="row">
                                                          <div class="col-md-4">
                                                            <div class="thumbnail">
                                                              <a href="menu_principal_23a" target="_self">
                                                                            <img src="imagens\menu_principal_23a.bmp" class="img-thumbnail" style="width:100%">
                                                                            <div class="caption">22
                                                                              
                                                                            </div>
                                                                          </a>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-4">
                                                              <div class="thumbnail">
                                                                <a href="menu_principal_23b" target="_self">
                                                                              <img src="imagens\menu_principal_23b.bmp"  class="img-thumbnail" style="width:100%">
                                                                              <div class="caption">23a
                                                                                
                                                                              </div>
                                                                            </a>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                    
                                                            <div class="col-md-4">
                                                                <div class="thumbnail">
                                                                  <a href="menu_principal_24a" target="_self">
                                                                                <img src="imagens\menu_principal_24a.bmp" class="img-thumbnail" style="width:100%">
                                                                                <div class="caption">23b
                                                                                  
                                                                                </div>
                                                                              </a>
                                                                </div>
                                                              </div>







                                                              <div class="container text-center">
                                                                <div class="row">
                                                                  <div class="col-md-4">
                                                                    <div class="thumbnail">
                                                                      <a href="menu_principal_24b" target="_self">
                                                                                    <img src="imagens\menu_principal_24b.bmp" class="img-thumbnail" style="width:100%">
                                                                                    <div class="caption">24a
                                                                                      
                                                                                    </div>
                                                                                  </a>
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-md-4">
                                                                      <div class="thumbnail">
                                                                        <a href="menu_principal_25" target="_self">
                                                                                      <img src="imagens\menu_principal_25.bmp" class="img-thumbnail" style="width:100%">
                                                                                      <div class="caption">24b
                                                                                        
                                                                                      </div>
                                                                                    </a>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                            
                                                                    <div class="col-md-4">
                                                                        <div class="thumbnail">
                                                                          <a href="menu_principal_26" target="_self">
                                                                                        <img src="imagens\menu_principal_26.bmp" class="img-thumbnail" style="width:100%">
                                                                                        <div class="caption">25
                                                                                          
                                                                                        </div>
                                                                                      </a>
                                                                        </div>
                                                                      </div>

                                                                      <div class="container text-center">
                                                                        <div class="row">
                                                                          <div class="col-md-4">
                                                                            <div class="thumbnail">
                                                                              <a href="menu_principal_27" target="_self">
                                                                                            <img src="imagens\menu_principal_27.bmp" class="img-thumbnail" style="width:100%">
                                                                                            <div class="caption">26
                                                                                              
                                                                                            </div>
                                                                                          </a>
                                                                            </div>
                                                                          </div>
                                                                          <div class="col-md-4">
                                                                              <div class="thumbnail">
                                                                                <a href="menu_principal_28" target="_self">
                                                                                              <img src="imagens\menu_principal_28.bmp" class="img-thumbnail" style="width:100%">
                                                                                              <div class="caption">27
                                                                                                
                                                                                              </div>
                                                                                            </a>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                    
                                                                            <div class="col-md-4">
                                                                                <div class="thumbnail">
                                                                                  <a href="menu_principal_29" target="_self">
                                                                                                <img src="imagens\menu_principal_29.bmp" class="img-thumbnail" style="width:100%">
                                                                                                <div class="caption">28
                                                                                                  
                                                                                                </div>
                                                                                              </a>
                                                                                </div>
                                                                              </div>
                                                                              <div class="container text-center">
                                                                                <div class="row">
                                                                                  <div class="col-md-4">
                                                                                    <div class="thumbnail">
                                                                                      <a href="menu_principal_30" target="_self">
                                                                                                    <img src="imagens\menu_principal_30.bmp" class="img-thumbnail" style="width:100%">
                                                                                                    <div class="caption">29
                                                                                                      
                                                                                                    </div>
                                                                                                  </a>
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="col-md-4">
                                                                                      <div class="thumbnail">
                                                                                        <a href="menu_principal_31" target="_self">
                                                                                                      <img src="imagens\menu_principal_31.bmp" class="img-thumbnail" style="width:100%">
                                                                                                      <div class="caption">30
                                                                                                        
                                                                                                      </div>
                                                                                                    </a>
                                                                                                  </div>
                                                                                                </div>
                                                                                              </div>
                                                                                            </div>
                                                                                            
                                                                                    <div class="col-md-4">
                                                                                        <div class="thumbnail">
                                                                                          <a href="menu_principal_32" target="_self">
                                                                                                        <img src="imagens\menu_principal_32.bmp" class="img-thumbnail" style="width:100%">
                                                                                                        <div class="caption">31
                                                                                                          
                                                                                                        </div>
                                                                                                      </a>
                                                                                        </div>
                                                                                      </div>
                                                                                      <div class="container text-center">
                                                                                        <div class="row">
                                                                                          <div class="col-md-4">
                                                                                            <div class="thumbnail">
                                                                                              <a href="menu_principal_33" target="_self">
                                                                                                            <img src="imagens\menu_principal_33.bmp" class="img-thumbnail" style="width:100%">
                                                                                                            <div class="caption">32
                                                                                                              
                                                                                                            </div>
                                                                                                          </a>
                                                                                            </div>
                                                                                          </div>
                                                                                          <div class="col-md-4">
                                                                                              <div class="thumbnail">
                                                                                                <a href="menu_principal_34" target="_self">
                                                                                                              <img src="imagens\menu_principal_34.bmp" class="img-thumbnail" style="width:100%">
                                                                                                              <div class="caption">33
                                                                                                                
                                                                                                              </div>
                                                                                                            </a>
                                                                                                          </div>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                    
                                                                                            <div class="col-md-4">
                                                                                                <div class="thumbnail">
                                                                                                  <a href="menu_principal_35" target="_self">
                                                                                                                <img src="imagens\menu_principal_35.bmp" class="img-thumbnail" style="width:100%">
                                                                                                                <div class="caption">34
                                                                                                                  
                                                                                                                </div>
                                                                                                              </a>
                                                                                                </div>
                                                                                              </div>

                                                                                              <div class="container text-center">
                                                                                                <div class="row">
                                                                                                  <div class="col-md-4">
                                                                                                    <div class="thumbnail">
                                                                                                      <a href="menu_principal_36a" target="_self">
                                                                                                                    <img src="imagens\menu_principal_36a.bmp" class="img-thumbnail"  style="width:100%">
                                                                                                                    <div class="caption">35
                                                                                                                      
                                                                                                                    </div>
                                                                                                                  </a>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                  <div class="col-md-4">
                                                                                                      <div class="thumbnail">
                                                                                                        <a href="menu_principal_36b" target="_self">
                                                                                                                      <img src="imagens\menu_principal_36b.bmp"  class="img-thumbnail" style="width:100%">
                                                                                                                      <div class="caption">36
                                                                                                                        
                                                                                                                      </div>
                                                                                                                    </a>
                                                                                                                  </div>
                                                                                                                </div>
                                                                                                              </div>
                                                                                                            </div>
                                                                                                            
                                                                                                    <div class="col-md-4">
                                                                                                        <div class="thumbnail">
                                                                                                          <a href="menu_principal_37" target="_self">
                                                                                                                        <img src="imagens\menu_principal_37.bmp" class="img-thumbnail" style="width:100%">
                                                                                                                        <div class="caption">37
                                                                                                                          
                                                                                                                        </div>
                                                                                                                      </fieldset>           </a>
                                                                                                        </div>
                                                                                                      </div>









                                                              
                                                            

    
  
        
            
         
        
        
        
         
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
          
        </body>

        
      </html>