<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="estilo.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="javascript/menu_prateleiras_portapallets_conj/menu_prateleiras_portapallets_conj.js"></script>
  


</head>

<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">
      <img src="imagens/altamira.jpg" alt="logo" style="width:190px;">
    </a>
  <div class="container">
    <div class="navbar-header">
      
    </div>
    <ul class="nav navbar-nav">
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfis<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/">Perfis Normais</a></li>
          <li><a href="/perfis_perfurados">Perfis Perfurados</a></li>
          
        </ul>
      </li>
      <li><a href="barras_comprimidas">Barras Comprimidas</a></li>
            <li><a href="calc_vigas">Cálculo de Vigas</a></li>
            <li><a href="menu_prateleiras">Prateleiras</a></li>
            <li><a href="menu_prateleiras_portapallets_conj">Pratelerias Porta-Pallets (Conjunto)</a></li>
            <li><a href="prateleiras_ind">Pratelerias Porta-Pallets (Individual)</a></li>
            <li><a href="menu_pisos">Pisos</a></li>
            <li><a href="entrada_laterais">Laterias Novas</a></li>
    </ul>
    
</nav>


  
 
  
 <fieldset>
  <legend><center></center></legend>
  <hr>
  <hr>
  
  <hr>
  <hr>
  <hr>
  


  <div class="row">

          <div class="section">
          <div class="container">
            <div class="row">
                <div class="thumbnail01">
                <img src="imagens\porta_conjunto.jpg" style="width:60%" class="center-block img-responsive img-rounded">
              
            </div> 


          
          <div class="well">  
              
              <form name="form01" action="/action_page.php">
                <div class="form-group col-xs-4">
                  <label for="email">Comprimento L1</label>
                  <input type="text" class="form-control" id="comprimentol1" placeholder="mm" name="comprimentol1" tabindex="1">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd">QTDE</label>
                  <input type="text" class="form-control" id="qtde01" placeholder="0.00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd">A</label>
                  <input type="text" class="form-control" id="a01" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd">Espes</label>
                  <input type="text" class="form-control" id="espess01" placeholder="0,00" name="espess01" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd">P. Unit.</label>
                  <input type="text" class="form-control" id="punit01" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd">A(Comp)</label>
                  <input type="text" class="form-control" id="acomp01" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd">P(Comp)</label>
                  <input type="text" class="form-control" id="pcomp01" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd">P. Total</label>
                  <input type="text" class="form-control" id="ptotal01" placeholder="0,00" name="pwd" readonly="true">
                </div>
                
                
                
                
              </form>
              
              <form name="form02" action="/action_page.php">
                <div class="form-group col-xs-4">
                  <label for="email">Vão</label>
                  <input type="text" class="form-control" id="vao" placeholder="0.00" name="vao" tabindex="2">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="qtde02" placeholder="0.00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="a02" placeholder="0.00" name="a02" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="espess02" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="punit02" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="acomp02" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="pcomp02" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd">P.Total</label>
                  <input type="text" class="form-control" id="ptotal02" placeholder="0,00" name="pwd" readonly="true">
                </div>
                
                
                
                
              </form>
              
              
               <form name="form03" action="/action_page.php">
                <div class="form-group col-xs-4">
                  <label for="email">Carga / Par de Viga</label>
                  <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" tabindex="3">
                </div>
                
               <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="qtde03" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="a03" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="espess03" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="punit03" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="acomp03" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="pcomp03" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd">P. Total</label>
                  <input type="text" class="form-control" id="ptotal03" placeholder="0,00" name="pwd" readonly="true">
                </div>
                
                
              </form>
              
              <form name="form04" action="/action_page.php">
                <div class="form-group col-xs-4">
                  <label for="email">Tensão de Escoamento</label>
                  <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" tabindex="4">
                </div>
                <div class="form-group col-xs-1">
                    <label for="pwd"></label>
                    
                  </div>
                  <div class="form-group col-xs-1">
                    <label for="pwd"></label>
                    <input type="text" class="form-control" id="qtde04" placeholder="0,00" name="pwd" readonly="true">
                  </div>
                  <div class="form-group col-xs-1">
                    <label for="pwd"></label>
                    <input type="text" class="form-control" id="a04" placeholder="0,00" name="pwd" readonly="true">
                  </div>
                  <div class="form-group col-xs-1">
                    <label for="pwd"></label>
                    <input type="text" class="form-control" id="espess04" placeholder="0,00" name="pwd" readonly="true">
                  </div>
                  <div class="form-group col-xs-1">
                    <label for="pwd"></label>
                    <input type="text" class="form-control" id="punit04" placeholder="0,00" name="pwd" readonly="true">
                  </div>
                  <div class="form-group col-xs-1">
                    <label for="pwd"></label>
                    <input type="text" class="form-control" id="acomp04" placeholder="0,00" name="pwd" readonly="true">
                  </div>
                  <div class="form-group col-xs-1">
                    <label for="pwd"></label>
                    <input type="text" class="form-control" id="pcomp04" placeholder="0,00" name="pwd" readonly="true">
                  </div>
                  <div class="form-group col-xs-1">
                    <label for="pwd">P. Total</label>
                    <input type="text" class="form-control" id="ptotal04" placeholder="0,00" name="pwd" readonly="true">
                  </div>








              </form>
              <form name="form05" action="/action_page.php">
                <div class="form-group col-xs-4">
                  <label for="email"></label>
                  
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="qtde05" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="a05" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="espess05" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="punit05" placeholder="0,00" name="pwd" readonly="true" >
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="acomp05" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd"></label>
                  <input type="text" class="form-control" id="pcomp05" placeholder="0,00" name="pwd" readonly="true">
                </div>
                <div class="form-group col-xs-1">
                  <label for="pwd">P. Total</label>
                  <input type="text" class="form-control" id="ptotal05" placeholder="0,00" name="pwd" readonly="true">
                </div>
                
                
                
                
              </form>
              
            
              <a href="/"><button type="button" class="btn btn-primary" style="width: 100px">Voltar</button></a>
              
              
         <align="rigth"> <button type="button" class="btn btn-print" style="width: 100px">
          <span class="glyphicon glyphicon-print" align="right"></span>Imprimir</button>
          <button type="button" onclick="validar();soma();" class="btn btn-success" style="width: 100px; margin-left:08px;"   >Calcular</button>
        <a href="menu_prateleiras_portapallets_conj">  <button type="button" class="btn btn-danger"  style="width: 100px">Cancelar</button>   </a>
              
              
              
              
            </div>
            

          </div>   














        



      <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <!-- Bootstrap core JavaScript
        ================================================== -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
                        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
                        
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
                
        </body>
      </html>