<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="estilo.css">
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="javascript/calc_vigas/P-01.js"></script>
  


</head>
  
  
  
      
  <body class>


    <nav class="navbar navbar-inverse">
      
      <div class="container">
        <div class="navbar-header">
          
        </div>
        <ul class="nav navbar-nav">
                  
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfis<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">Perfis Normais</a></li>
              <li><a href="/perfis_perfurados">Perfis Perfurados</a></li>
              
            </ul>
          </li>
          <li><a href="barras_comprimidas">Barras Comprimidas</a></li>
                <li><a href="calc_vigas">Cálculo de Vigas</a></li>
                <li><a href="menu_prateleiras">Prateleiras</a></li>
                <li><a href="menu_prateleiras_portapallets_conj">Pratelerias Porta-Pallets (Conjunto)</a></li>
                <li><a href="prateleiras_ind">Pratelerias Porta-Pallets </a></li>
                <li><a href="menu_pisos">Pisos</a></li>
                <li><a href="entrada_laterais">Laterias Novas</a></li>
        </ul>
        
    </nav>
    
    
      
     
      
    <fieldset>
      <legend><center></center></legend>
      <br><br>
     
      <div class="section">

          
    
         
          
         
          
         
          
            <div class="container">
              
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_prateleiras_Prat0R_0" target="_self">
                                  <img src="imagens\menu_prateleiras_Prat0R_0.bmp" style="width:100%">
                                  <div class="caption"><center>Prat0R_0</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_prateleiras_Prat0R_1F" target="_self">
                                  <img src="imagens\menu_prateleiras_Prat0R_1F.bmp"  style="width:100%">
                                  <div class="caption"><center>Prat0R_1F</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_prateleiras_Prat0R_1F2L" target="_self">
                                  <img src="imagens\menu_prateleiras_Prat0R_1F2L.bmp"  style="width:100%">
                                  <div class="caption"><center>Prat0R_1F2L</center>
                                    
                                  </div>
                                </a>
                  
                
              </div>
            </div>
            
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_prateleiras_Prat0R_1L" target="_self">
                                  <img src="imagens\menu_prateleiras_Prat0R_1L.bmp" style="width:100%">
                                  <div class="caption"><center>Prat0R_1L</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_prateleiras_Prat0R_2F" target="_self">
                                  <img src="imagens\menu_prateleiras_Prat0R_1F2L.bmp" style="width:100%">
                                  <div class="caption"><center>Prat0R_1F2L</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_prateleiras_Prat0R_2F2L" target="_self">
                                  <img src="imagens\menu_prateleiras_Prat0R_2F2L.bmp" alt="Fjords" style="width:100%">
                                  <div class="caption"><center>Prat0R_2F2L</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
              
              
                
                
                
                
        


      
        
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="menu_prateleiras_Prat0R_2L" target="_self">
                                  <img src="imagens\Prat0R-1L-l.bmp" style="width:100%">
                                  <div class="caption"><center>Prat0R-1L-l</center>
                                    
                                  </div>
                                </a>
                  </div>
                </div>
                
                                                    </div>
                                                  </div>
                                                </div>
        
            
          
        
        
        
         
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
          
        </body>
      </html>