<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <script src="jquery/jquery.min.js"></script> 
    <script src="javascript/menu_principal/menu_principal_02_2.js"></script>
  
  
  </head>
    

  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="#">
          <img src="imagens/altamira.jpg" alt="logo" style="width:190px;">
        </a>
      <div class="container">
        <div class="navbar-header">
          
        </div>
        <ul class="nav navbar-nav">
                
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfis<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">Perfis Normais</a></li>
              <li><a href="/perfis_perfurados">Perfis Perfurados</a></li>
              
            </ul>
          </li>
          <li><a href="barras_comprimidas">Barras Comprimidas</a></li>
                <li><a href="calc_vigas">Cálculo de Vigas</a></li>
                <li><a href="menu_prateleiras">Prateleiras</a></li>
                <li><a href="menu_prateleiras_portapallets_conj">Pratelerias Porta-Pallets (Conjunto)</a></li>
                <li><a href="prateleiras_ind">Pratelerias Porta-Pallets (Individual)</a></li>
                <li><a href="menu_pisos">Pisos</a></li>
                <li><a href="entrada_laterais">Laterias Novas</a></li>
        </ul>
        
    </nav>
    
    
      
     
      
     <fieldset>
      <legend><center></center></legend>
      <hr>
      <hr>
      
      <hr>
      <hr>
      <hr>
      
      <div class"container-fluid">
          

        <div class="container">
          <div class="row">
      
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="thumbnail01">
                    <img src="imagens\menu_prateleiras_Prat0R_2F2L.bmp" style="width:50%" class="center-block img-responsive img-rounded">
                    
                  </div>
    
                    <div class="well">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#entrada_dados">Entrada de Dados</a></li>
                        <li><a data-toggle="tab" href="#dimensoes">Dimensões</a></li>
                        <li><a data-toggle="tab" href="#propriedades_geometricas">Propriedades Geométricas</a></li>
                        
                      </ul>
                    <br>
                      
                        
                        




                      <div class="tab-content">
                        <div id="entrada_dados" class="tab-pane fade in active">
                            <br>
                            <div class="container-fluid">
                                <div class="well">
                                   
                                   
                                   <label class="checkbox-inline" style="width:8%"><input type="checkbox" value="">Padrão</label>
                                   <label class="checkbox-inline" style="width:7%"><input type="checkbox" value="">Novo</label>
                                   <br>
                                   <br>
                                   
                                   <select class="form-control col-xs-6" style="width:18%" >
                                   
                                                                   <option>Reforço 'U'(QTDE)</option disable>
                                                                   <option>O</option>
                                                                   <option>1</option>
                                                                   <option>2</option>
                                                                   <option>3</option>
                                                                   </select>
                                   
                                     <select class="form-control col-xs-6" style="width:18%">
                                                                       <option>Quantidade</option>
                                                                       <option>1</option>
                                                                       <option>2</option>
                                                                       <option>3</option>
                                                                       <option>4</option>
                                                                       </select>
                                   
                                   <br>
                                   <br>
                                   <br>
                                   <div class="container-fluid">
                                 
                                 <form action="/action_page.php">
                                   <div class="form-group col-xs-4">
                                     <label for="email">Tamanho de A</label>
                                     <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                   </div>
                                   <div class="form-group col-xs-4">
                                     <label for="pwd">Reforço A</label>
                                     <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                                   </div><div class="form-group col-xs-4">
                                     <label for="pwd">Chapa</label>
                                     <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                                   </div>
                                   
                                    
                                   
                                  
                                   
                                   <form action="/action_page.php">
                                   <div class="form-group col-xs-4">
                                     <label for="email">Tamanho de B</label>
                                     <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                   </div>
                                   <div class="form-group col-xs-4">
                                     <label for="pwd">Reforço B</label>
                                     <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                                   </div>
                                   <div class="form-group col-xs-4">
                                     <label for="pwd">Chapa</label>
                                     <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                                   </div>
                                    
                                   
                                   </form>
                                   <form action="/action_page.php">
                                   <div class="form-group col-xs-4">
                                     <label for="email">Tamanho de C</label>
                                     <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                   </div>
                                   <div class="form-group col-xs-4">
                                     <label for="pwd">Reforço C</label>
                                     <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                                   </div>
                                   <div class="form-group col-xs-4">
                                     <label for="pwd">Chapa de Prateleira</label>
                                     <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                                   </div>
                                   <div class="form-group col-xs-4">
                                     <label for="pwd">Tamanho de D</label>
                                     <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                                   </div>
                                    <div class="form-group col-xs-4">
                                     <label for="pwd">Tensão de Escoamento</label>
                                     <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                                   </div>
                                    
                                   <div class="form-group col-xs-4">
                                     <label for="pwd">Tipo (I, L ou C)</label>
                                     <input type="password" class="form-control" id="pwd" placeholder="mm" name="pwd">
                                   </div>
                                   
                                   <br>
                                   
                                   
                                   
                                   </form>
                                   </div> 
                                   <br>
                                   <button type="button" onclick="validar();soma();" class="btn btn-success" style="width: 100px;  ;" >Calcular</button>
                    
                    

                                   <a href="/">
                                     <button type="button" class="btn btn-primary" style="width: 100px; ">Voltar</button>
                                   </a>
                                 </p>
                                  
                                   
                                   
                            </div>
                            </div>
                          </div>
                        
                        <div id="dimensoes" class="tab-pane fade">
                            <div class="container">
                                
                          
                            
                            
                            <form action="/action_page.php">
                                                                                
                                  <div class="form-group col-xs-4">
                                  <label for="email">A</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                                <div class="form-group col-xs-4">
                                  <label for="email">A</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                                <div class="form-group col-xs-4">
                                  <label for="email">A</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                              </form>
                              <form action="/action_page.php">
                                <div class="form-group col-xs-4">
                                  <label for="email">B</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                                <div class="form-group col-xs-4">
                                  <label for="email">B</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                                <div class="form-group col-xs-4">
                                  <label for="email">B</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                              </form>
                              <form action="/action_page.php">
                                <div class="form-group col-xs-4">
                                  <label for="email">C</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                                <div class="form-group col-xs-4">
                                  <label for="email">C</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                                <div class="form-group col-xs-4">
                                  <label for="email">C</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                              </form>
                              <form action="/action_page.php">
                                <div class="form-group col-xs-4">
                                  <label for="email">Espessura (t)</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                                <div class="form-group col-xs-4">
                                  <label for="email">Espessura (t)</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                                <div class="form-group col-xs-4">
                                  <label for="email">Espessura (t)</label>
                                  <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                </div>
                                <form action="/action_page.php">
                                  <div class="form-group col-xs-4">
                                    <label for="email">Largura da Fita</label>
                                    <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                  </div>
                                  <div class="form-group col-xs-4">
                                    <label for="email">Largura da Fita</label>
                                    <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                  </div>
                                  <div class="form-group col-xs-4">
                                    <label for="email">Largura da Fita</label>
                                    <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                  </div>
                                </form>
                                 <form action="/action_page.php">
                                  <div class="form-group col-xs-4">
                                    <label for="email">Compr. da Fita</label>
                                    <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                  </div>
                                  <div class="form-group col-xs-4">
                                    <label for="email">Compr. da Fita</label>
                                    <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                  </div>
                                  <div class="form-group col-xs-4">
                                    <label for="email">Compr. da Fita</label>
                                    <input type="email" class="form-control" id="email" placeholder="mm" name="email">
                                  </div>
                                </form>
                                 <form action="/action_page.php">
                                  <div class="form-group col-xs-4">
                                    <label for="email">Peso</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                  </div>
                                  <div class="form-group col-xs-4">
                                    <label for="email">Peso</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                  </div>
                                  <div class="form-group col-xs-4">
                                    <label for="email">Peso</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                  </div>
                                </form>


                            </div>


                         



                            
                        </div>
                        <div id="propriedades_geometricas" class="tab-pane fade">
                            
                          <div class="container-fluid">
                            
                                  
                                  <form action="/action_page.php">
                                    <div class="form-group col-xs-5">
                                      <label for="email">Momento de Inércia Frontal</label>
                                      <input type="email" class="form-control" id="email" placeholder="mm4" name="email">
                                    </div>
                                    <div class="form-group col-xs-5">
                                      <label for="pwd">Momento de Inércia Lateral</label>
                                      <input type="password" class="form-control" id="pwd" placeholder="mm4" name="pwd">
                                    </div>
                                    
                                  </form>
                                  <form action="/action_page.php">
                                    <div class="form-group col-xs-5">
                                      <label for="email">Módulo de Resistência Frontal</label>
                                      <input type="email" class="form-control" id="email" placeholder="mm3" name="email">
                                    </div>
                                    <div class="form-group col-xs-5">
                                      <label for="pwd">Módulo de Resistência Lateral</label>
                                      <input type="password" class="form-control" id="pwd" placeholder="mm3" name="pwd">
                                    </div>
                                    
                                  </form>
                                  
                                  <form action="/action_page.php">
                                    <div class="form-group col-xs-5">
                                      <label for="email">Tensão do Escoamento do Aço</label>
                                      <input type="email" class="form-control" id="email" placeholder="Kgf/cm2" name="email">
                                    </div>
                                    <div class="form-group col-xs-5">
                                      <label for="pwd">Cap. de Carga Unif. Distr. em A</label>
                                      <input type="password" class="form-control" id="pwd" placeholder="Kg" name="pwd">
                                    </div>
                                    
                                    
                                  </form>
                                  
                                  <form action="/action_page.php">
                                    <div class="form-group col-xs-5">
                                      <label for="email">Peso Total</label>
                                      <input type="email" class="form-control" id="email" placeholder="Kg" name="email">
                                    </div>
                                    <div class="form-group col-xs-5">
                                      <label for="pwd">Cap. de Carga Unif. Distr. em B</label>
                                      <input type="password" class="form-control" id="pwd" placeholder="Kg" name="pwd">
                                    </div>
                                    
                                  </form>
                                  <form action="/action_page.php">
                                    <div class="form-group col-xs-5">
                                      <label for="email">Flexa Máxima em A</label>
                                      <input type="email" class="form-control" id="email" placeholder="Kg" name="email">
                                    </div>
                                    <div class="form-group col-xs-5">
                                      <label for="pwd">Cap. de Carga Unfi. Distr. na Placa</label>
                                      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="Kg">
                                    </div>
                                    
                                  </form>
                                  <form action="/action_page.php">
                                    <div class="form-group col-xs-5">
                                      <label for="email">Flexa Máxima em B</label>
                                      <input type="email" class="form-control" id="email" placeholder="Kg" name="email">
                                    </div>
                                    
                                        

                                    
                                  </form>
                                                       
                                      
                                </p>                                                 
                                
                                
                                <br>
                                
                        </div>
                        <a href="guardadorrebanhos.html"><button type="button" class="btn btn-danger" style="width: 100px">Cancela</button> 
                        </a>
                       

<button type="button" class="btn btn-default" style="width: 100px">
<span class="glyphicon glyphicon-print"></span>Imprimir</button>  
                      </div>
                    </div>
        
            


          
        



      <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

        </body>
      </html>